.App{
    text-align: center;
}
.black-nav{
    display: flex;
    background: black;
    width:100%;
    color: white;
    padding-left: 20px;
}
div{
    box-sizing: border-box;
}
.list{
    text-align: left;
    border-bottom: 1px solid grey;
    align-items: center; /* 수직 중앙 정렬 */
    padding: 10px 20px; /* 패딩 조정 */
    margin-bottom: 20px;
    position: relative;
}
.delete-btn{
    position:absolute;
    right:50px;
    top:50px;
}
.modal{
    margin-top : 20px;
    padding : 20px;
    background : #eee;
    text-align : left;
}

